<h3>
{{ leyenda }}
</h3>
<div class="input-group mb-3">
  <div class="input-group-prepend" id="button-addon3">
    <button class="btn btn-primary" type="button" (click)="cambiarValor(+5)"><i class="mdi mdi-plus"></i></button>
    <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)"><i class="mdi mdi-minus"></i></button>
  </div>
  <input #txtProgreso type="number" class="form-control" placeholder="" name="progreso" [(ngModel)]="progreso" aria-label="Example text with two button addons" aria-describedby="button-addon3" (ngModelChange)="onChanges($event)" min="1" max="100">
</div>
